@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  font-family: "Cairo", sans-serif;
  background: #071321;
  color: white;
}

/* ================================= */
/* حركة لوجو الشركة */
/* ================================= */

@keyframes logoFloat {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-15px) scale(1.03);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-logo-float {
  animation: logoFloat 12s ease-in-out infinite;
}